* {
	padding: 0em;
	margin: 0em;
}

html {
	width: 100%;
}

body {
	margin: auto;
	background-color: white;
	font-family: Verdana, sans-serif;
	border: 1px;
}

#header {
  position: -webkit-sticky;
  position: sticky;
  font-size: 0.8em;
  top: 0px;
  padding: 1px;
  background: rgba(235,245,239,0.8);
}

#logo1 {
	width: 30%;
	max-width: 15em;
    float: left;
}

ul#menu {
    font-family: Verdana, sans-serif;
    font-size: 20px;
    display: block;
    margin: 0;
    padding: 0;
    position: relative;
    left:5%;
    list-style: none;
}


ul#menu li {
    color: black;
    font-weight: bold;
    border-bottom: 5px solid #91ed94;
    display: block;
    width: 200px;
    height: 50px;
    margin: 2px;
    float: left; /* elementi su singola riga */
}
ul#menu li a {
    color: #585858;
    display: block;
    font-weight: bold;
    line-height: 40px;
    text-decoration: none;
    width: 150px;
    height: 30px;
    text-align: left;
}
ul#menu li.active, ul#menu li:hover {
    color: #389c3b;
    font-size: 25px;
    line-height: 40px;
    border-bottom: 5px solid #5EB561;
}

#footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0.5em;
  background: rgba(235,245,239,0.9);
  color: #585858;
  text-align: center;
}

#logo2 {
	width: 35%;
	max-width: 7em;
}

div.split2 div {
    float: left;
    width: 33%;
}

div.wide {
    clear: left;
}

div.wide a {
    text-decoration: none;
}

div.wide img{
}